<footer>
    
    <div class="container rodape">

        <div class="links-footer"> 

            <div class="links">
                <h2>Links Úteis</h2>
                <ul>
                    <li><a href="#">Regras de utilização</a></li>
                    <li><a href="#">Suporte</a></li>
                    <li><a href="#">Central de Ajuda</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>

            <div class="links">
                <h2>Páginas</h2>
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Campeonatos</a></li>
                    <li><a href="#">Resultados</a></li>
                    <li><a href="#">Notícias</a></li>
                    <li><a href="#">Login/Cadastro</a></li>
                </ul>
            </div>

        </div>

        <img class= "logo-rodape" src="assets/img/logo.svg" alt="">
        <div class="social">

            <h2>Faça parte do nosso clan, assine nossa newsletter!</h2>

            <form action="">

                <input id="campo-email" type="email" placeholder="Email" required>
                <button>Cadastrar</button>

            </form>

            <div class="redes-sociais">

                <h2>Siga-nos em:</h2>
                <a href="#"><img src="assets/img/instagram-logo.png" alt=""></a>
                <a href="#"><img src="assets/img/facebook-logo.png" alt=""></a>
                <a href="#"><img src="assets/img/youtube-logo.png" alt=""></a>

            </div>

        </div>

    </div>

</footer>