<section class="banner-f1">
    <div class="container-grid posicionamento-banner">
        <div class="conteudo-banner">
            <h1>Liga E-Players</h1>
            <p>O maior portal de campeonatos online</p>
            <a href="#">INSCREVA-SE</a>
        </div>
    </div>
</section>

<section class="jogos">
    <div class="posicionamento-jogos container">
        <img src="assets/img/f1-logo.png" alt="">
        <img src="assets/img/lol-logo.png" alt="">
        <img src="assets/img/cs-logo.png" alt="">
        <img src="assets/img/valorant-logo.png" alt="">
        <img src="assets/img/fifa-logo.png" alt="">
    </div>
</section>

<section class="sobre">
    <div>
        <div>
            <h2>Como participar das ligas?</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the .</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</section>