.banner-f1 {

    height: 607px;
    background-image: url(/assets/img/banner_f1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.conteudo-banner h1 {

    color: white;
    font-family: "Titillium Web";
    font-size: 80px;
    font-weight: 700;
}

.conteudo-banner p {

    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 25px;
}

.conteudo-banner a {

    padding: 15px;
    background-color: #c31616;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 25px;
    text-decoration: none;
}

.conteudo-banner {

    width: 497px;
    height: 237px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.posicionamento-banner {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.jogos {

    background-color: black;
    height: 120px;
}

.posicionamento-jogos {

    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alinhar-centro {

    height: 500px;
}

.sobre {

    background-image: url(/assets/img/background-ezreal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 489px;
}

.conteudo-sobre {

    display: flex;
    justify-content: space-between;
}

.texto {

    height: 100%;
    font-family: 'Roboto';
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

